<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
       <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       	<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
       	<property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
       	<property name="username" value="john"></property>
       	<property name="password" value="123"></property>
       </bean>
       
       <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
       		<property name="dataSource" ref="datasource"></property>
       		<property name="annotatedClasses">
       			<list>
       				<value>po.User</value>
       			</list>
       		</property>
       		<property name="hibernateProperties">
       			<props>
       				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
       				<prop key="hibernate.show_sql">true</prop>
       				<prop key="hibernate.format_sql">true</prop>
       			</props>
       		</property>
       </bean>
       <bean id="ud" class="dao.impl.UserDaoImpl" scope="prototype">
       	<property name="sf" ref="sessionFactory"></property>
       </bean>
       <bean id="um" class="service.impl.UserManagerImpl">
       	<property name="ud" ref="ud"></property>
       </bean>
       
       <bean id="umBean" class="action.UserManagerAction" scope="prototype">
       		<property name="um" ref="um"></property>
       </bean>
       
       
</beans>